.card-list-item {
  width: 130px;
  list-style-type: none;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: #f8f8ff;
  border-radius: 10px;
  margin: 12px;
}
.image-heading {
  color: #e73959;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.card-img {
  width: 70%;
  margin-bottom: 8px;
}
.icon-img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-para {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.heading-container {
  display: flex;
  font-size: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
